{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul>
	      {% for message in messages %}
	        <li> <strong> {{ message }} </strong> </li>
	      {% endfor %}
	    </ul>
	  {% endif %}
  {% endwith %}
</div>


<br>
<div class="col-md-12 list-items list">
<!--  Categories and Lastest Items Headers  -->

<h2>{{category.name}}</h2>
<br>
{{item.name}}
<br>
<br>
{{item.description}}
<br>
<br>
<div class="list-items ">
	<div class="list-header list">
		<a href="{{url_for('editItem', category_name=category.name, item_name=item.name)}}">Edit</a>
	|
		<a href="{{url_for('deleteItem', category_name=category_name,item_name=item.name)}}">Delete</a>
	</div>
</div>


<!-- #creator Name = {{creator.id}} -->


</div>

{% endblock %}
