{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul>
	      {% for message in messages %}
	        <li> <strong> {{ message }} </strong> </li>
	      {% endfor %}
	    </ul>
	  {% endif %}
  {% endwith %}
</div>
<br>

<div class ="col-md-12 list-items list">
  <br>
  <h2>{{item.name}}</h2>
  <p id="item-description">{{item.description}}</p>
  <br>
</div>
  <br>
	<br>
	<br>
<div>
	<br>
	<br>
	<br>
</div>
	<br>
	<br>

{% endblock %}
	<br>
	<br>
	<br>
	<br>
